*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    /* background-image: url("opoy7.jpg"); */
    background-color: black;
    background-size: cover;
}

.home, .contentBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    position: fixed;
    top: 0;
    padding: 15px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,9,121,1) 50%, rgba(0,212,255,1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
}


.footer{
    position: fixed;
    bottom: 0;
    background: rgb(14, 3, 60);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.4rem;
}

.contentBody{
    margin-top: 80%;
    row-gap: 20px;
}

.generateButton{
    margin-top: 20px;
}

.githubLogo{
    height: 1.3rem;
}

.githubDiv{
    display: flex;
    column-gap: 10px;
    cursor: pointer;
}

.githubHeading{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.87);
}

.getStarted{
    font-size: 1.8rem;
}

.generateCertificate{
    font-size: 1.5rem;
}